/*********************************************

This is the style file for this project.

**********************************************/

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* Game Start Styles */

#title{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 50px;
  color: #6c5bcc;
}

#message{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: #ffffff;
  font-size: 40px;
  padding: 30px;
}

#start_play{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: #6c5bcc;
  color: #ffe000;
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;
}

#start_play:hover{
  background-color: #ffe000;
  color: #6c5bcc;
}


/* Play Again Styles */

#play_again{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  color: white;
  font-size: 30px;
  background-color: #6c5bcc;
  color: #ffe000;
  padding: 0.5em;
  width: 50%;
  margin: 0 auto;}

#play_again:hover{
  background-color: #ffe000;
  color: #6c5bcc;
}


/* Egg Styles */

div#egg{
  width:50%;
  height: 100vh;
  float: left;
  background-color: #ffe000;
  text-align:center;
}

div#egg_display{
  width: 75%;
  height: 70vh;
  margin: 0 auto;
  margin-top: 5em;
  text-align: center;
}

.egg{
  width: 90%;
}

#egg_jump{
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;
}


/* Lyrics Container Styles */

div#lyrics{
  width:50%;
  height: 100vh;
  float: left;
  background-color: #00BCD4;
}

p#lyrics_display{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  color: white;
  font-size: 45px;
  margin-top:25%;
  padding: 30px;
}


footer{
  clear: both;
  padding: 30px;
  background-color: #6c5bcc;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}
