/*********************************************

This is the style file for this project.

**********************************************/

h1{
  font-family: 'Akronim', cursive;
  font-size: 6em;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0em;
  margin-top: 0em;
  color: white;
}

p{
  font-family: 'Open Sans', sans-serif;
  color: white;
}

#container{
  width: 50%;
  padding: 14em;
  text-align: center;
  margin: 0 auto;
  background-image: url("https://aniesha08.github.io/cart263/exercises/slamina/assets/images/deer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: red;
}

footer p{
  color: black;
  text-align: center;
}
