body {

}

div{
  width: 60%;
  margin: 0 auto;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed{
  background-color: transparent;
  color: red;
}

.found{
  background-color: #77ff6e;
  color: black;
}
