body {

}

div{
  width: 60%;
  margin: 0 auto;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed{
  background-color: transparent;
  color: red;
}

.found{
  background-color: #e7fb24;
}
