/*********************************************

This is the style file for this project.

**********************************************/

/******* GENERAL STYLES *******/

*{
  box-sizing: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body{
  background-color: #fafafa;
}

.bold{
  font-weight: bold;
}

.blue{
  color: blue;
}

/******* LOGIN PAGE *******/

#login_bar{
  width:28%;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin: 0 auto;
  margin-top: 5em;
  text-align: center;
}

#insta-emotion{
  font-family: 'Lobster Two', cursive;
  margin-top: 1em;
  margin-bottom: 0.75em;
  font-size: 2.5em;
}

.credentials{
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 65%;
  color: #cccbcb;
  margin-bottom: 1em;
  padding: 1em;
}

.left{
  font-family: 'Roboto', sans-serif;
  color: #cccbcb;
  text-align: left;
  padding-left: 4em;
  margin-bottom: 0.25em;
  font-size: 14px;
}

#login_button{
  width:72%;
  padding: 0.5em;
  margin-bottom: 3em;
  background-color: #5aa8f985;
  border: none;
  font-size: 14px;
}

#login_footer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 14px;
  background-color: #e8e8e8;
  color: #ababab;
  position: fixed;
  bottom: 0;
  padding: 1em;
  width: 100%;
}


/******* INSTA PAGE SECTION *******/
.insta_page{
  float: left;
  background-color: #fafafa;
  width: 70%;
}

#topbar{
  padding: 1em;
  width:100%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  position:relative;
}

#topbar p{
  font-family: 'Lobster Two', cursive;
  font-size: 24px;
  margin-left: 1em;
}

#loggedIn{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 25px;
  background-color: #5aa8f9;
  color: white;
  padding: 0.5em;
  border-radius: 5px;
  position: absolute;
  right: 70px;
}

#profile_info{
  width:80%;
  margin: 0 auto;
  margin-top:30px;
  height: 25vh;
}

#followers{
  margin-top: 0.5em;
}

#bio{
  font-family: 'Roboto', sans-serif;
  margin-top: 0.75em;
}

#prof_pic{
  width: 35%;
  float: left;
}

#pro{
  width:50%;
  margin-left: 70px;
}

#user_info{
  width: 65%;
  float: left;
}

span#status{
  background-color: lightgreen;
  color: white;
  margin-left: 0.15;
  font-size: 20px;
  border-radius: 5px;
}

hr{
  clear: both;
  width: 75%;
  color: #e8e8e8;
  margin: 0 auto;
  margin-bottom: 30px;
}

#thumb_imgs{
  margin: 0 auto;
  margin-top: 1em;
  width: 80%;
}

.row{
  width:100%;
  margin-top: 2em;
  margin-bottom: 1em;
  clear: left;
  background-color: grey;
  margin: 0 auto;
}

.thumbnail{
  width: 29%;
  /* background-color: yellow; */
  float: left;
  margin-bottom: 2em;
  margin-left: 1.5em;
}

#insta_footer{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
  border-top: 1px solid #e8e8e8;
  color: #ababab;
  padding: 1em;
  width: 100%;
  clear: both;
}

/******MODAL CODE********/
/* from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* end code modal from w3schools */

.ui-draggable .ui-dialog-titlebar{
  background-color: #fff;
  border: none;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable{
  position: fixed !important;
  width: 50% !important;
  background-color: #fefefe;
  margin: auto !important;
  margin-top: 1em !important;
  padding: 20px;
  border: none;
  height: 520px !important;
}

.ui-dialog .ui-dialog-content{
  height: 520px !important;
  overflow: hidden !important;;
}

.ui-widget-content a{
  color: #3F51B5 !important;
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close{
  border: none;
}

.pic{
  width: 50%;
  float:left;
}

.account_name{
  width:70%;
}

.caption{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 2em;
}

.comments{
  width:45%;
  float: left;
  margin-left: 20px;
}

.user_image{width:8%;
  position: relative;
  top: 5px;
}

.emoji{
  width: 5%;
  position: relative;
  top: 1px;
}

.dropdown-content p{
  border-bottom: 1px solid lightgrey;
  font-size: 12px;
  margin-bottom: 5px;
}

.noline{
  border-bottom: 0px !important;
}

.hide{
  display: none;
}

button{
  width:30%;
  background-color: lightgrey;
  color: #fff;
}

/******DROPDOWN MENU CSS*******/
/* CSS From: https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button */

.dropbtn {
  background-color: lightgrey; /*my edit*/
  color: white;
  padding: 2px; /*my edit*/
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 250px; /*my edit*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 2px; /*my edit*/
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 2px; /*my edit*/
  width: 290px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5aa8f9; /*my edit*/
}


/******** EMOTIONS BAR SECTION *******/
.emotions_bar{
  float:left;
  background-color: #eae8e8;
  height: 100vh;
  width: 30%;
  position: fixed;
  right: 0;
}

h1.emotions{
  color: #333;
  margin: 30px;
}

.emotions_bar p{
 margin-bottom:5px;
 margin-left: 30px;
 font-family: 'Roboto', sans-serif;
}

.ui-widget.ui-widget-content{
  width: 85%;
  height: 15px;
  margin-bottom:20px;
}

#happy_progress .ui-widget-header{
  background: #FFEB3B !important;
}

#inspiration_progress .ui-widget-header{
  background: blue !important;
}

#encouragement_progress .ui-widget-header{
  background: #FFC107 !important;
}

#disapproval_progress .ui-widget-header{
  background: #8BC34A !important;
}

#jealousy_progress .ui-widget-header{
  background: #9C27B0 !important;
}

#anger_progress .ui-widget-header{
  background: red !important;
}
