body {
}

h1{
  text-align: center;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 5em;
  margin: 0;
  padding:0;
  color: #422412;
}

div#container{
  text-align:center;
  margin-bottom: 3em;
}

canvas{
  /*background-image: linear-gradient(to bottom, #0d7b92 , #5bbeba);*/
  /*background-image: linear-gradient(to bottom, #001d58 , #034e9f);*/
  background-image: linear-gradient(to bottom, #472a66 ,  #ed6139);
}

p{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2em;
}

footer{
  text-align: center;
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

/* #rockie{
  transform-origin: center;
} */
